<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.ralphpina.activitymapper"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
         ===========================================================================================
         PROTECTION_NORMAL Permissions: they do not require asking
         for user's permissions, granted implicitly when they
         install out app
         =======================================================================================
    -->


    <!-- network -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Misc. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!--
         ===========================================================================================
         PROTECTION_DANGEROUS Permissions: These permissions we need to ask for.
         User grants these permissions by group.
         =======================================================================================
    -->


    <!-- storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--
         ===========================================================================================
         OTHER PERMISSIONS - user does not need to authorize
         =======================================================================================
    -->


    <!-- Google Play Services Location -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- Detecting Activity -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:name=".AMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- BROADCAST RECEIVERS -->
        <receiver
            android:name=".location.OnBootBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- SERVICES -->
        <!-- For Google Play Services Activity Detection -->
        <service
            android:name=".location.DetectedActivitiesIntentService"
            android:exported="false"/>
        <!-- To continue tracking in the background -->
        <service
            android:name=".location.LocationTrackingService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
